<ion-header>

    <ion-navbar>
      <button ion-button menuToggle color="dark">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Marcas Parceiras</ion-title>
    </ion-navbar>
  
  </ion-header>

  <ion-content padding>



  <!-- <ion-card *ngFor = "let cadastro of cadastro">
    <ion-card-content>
      <ion-card-title>
        {{cadastro.nome_empresa}}
        </ion-card-title>
      <p>
          {{cadastro.cnpj}}
      </p><p>
          {{cadastro.nome}}
      </p><p>
          {{cadastro.telefone}}
      </p><p>
          {{cadastro.endereco}}
      </p><p>
          {{cadastro.email}}
      </p>
    </ion-card-content> 
  </ion-card>-->

  <ion-list *ngFor = "let cadastro of cadastro">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{cadastro.imagem}}">
      </ion-avatar>
      <h1>{{cadastro.nomeEmpresa}}</h1>
      <h2>Descrição: {{cadastro.descricao}}</h2>
    </ion-item>
  </ion-list>



</ion-content>